<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut atque deleniti ea sint quidem dignissimos officia voluptates rerum, voluptate dolores odio voluptatum distinctio praesentium? Dolorum pariatur incidunt est nemo, iure nihil, illo accusantium modi voluptate doloremque facilis architecto voluptas temporibus.</p>
    </div>
</div>